/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

/* Variables */
:root {
    /* Primary */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /* Neutral */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    --ff-primary: 'League Spartan', sans-serif;

    --fs-500: 1.188rem;
    --fs-400: 1.063rem;
    --fs-900: 2.6rem;

    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    display: block;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.spacer {
    margin-top: 1.5rem;
}

/* Main */
body {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    background-color: var(--white);
    text-align: center;
    padding-top: 5rem;
}

h1 {
    font-size: var(--fs-900);
    font-weight: 800;
    letter-spacing: -2px;
    color: var(--very-dark-magenta);
    
    line-height: .8;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.container {
    max-width: 72rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.description {
    font-size: var(--fs-500);
    font-weight: var(--fw-500);
    color: var(--dark-grayish-magenta);
    margin-bottom: 3.2rem;
    line-height: 1.3;
    letter-spacing: -.7px;
}

.ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    color: var(--very-dark-magenta);
    font-size: var(--fs-400);
    font-weight: var(--fw-700);

    margin: 3.8rem 0;
}

.rating {
    background-color: var(--light-grayish-magenta);
    padding: 1rem;
    border-radius: .5rem;
    max-width: 100%;
}

.rating-star {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
    gap: .5rem;
}

.testimonials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.quote {
    overflow: hidden;
    padding: 2rem;
    padding-top: 2.5rem;
    background-color: var(--very-dark-magenta);
    color: var(--white);
    border-radius: .5rem;
    text-align: left;
}

.quote p {
    font-size: var(--fs-400);
    color: var(--white);
    line-height: 1.3;
}

.name-status {
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.name-status img {
    width: 2.5rem;
    border-radius: 3rem;
}

.name > p:first-child {
    font-size: var(--fs-400);
    font-weight: var(--fw-700);
    color: var(--white);
}

.name > p:last-child {
    color: var(--soft-pink);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
}

/* Footer */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (min-width: 50em) {
    body {
        display: grid;
        place-content: center;
    }
    
    .top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 2.5rem;
    }

    h1 {
        font-size: 3.5rem;
        margin: 0;
        text-align: left;
    }

    .description {
        margin: 2rem 0;
        text-align: left;
    }

    .ratings {
        margin: 0;
        gap: 1rem;
        padding-left: 2rem;
    }

    .testimonials {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

@media (min-width: 62.5em) {
    h1 {
        max-width: 70%;
    }

    .description {
        max-width: 90%;
    }
    
    .rating {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: 80%;
        gap: 2rem;
    }

    .rating:nth-child(1) {
        margin-left: 0;
    }

    .rating:nth-child(2) {
        margin-left: 3rem;
    }

    .rating:nth-child(3) {
        margin-left: 7rem;
    }

    .quote:nth-child(1) {
        margin-bottom: 2rem;
    }

    .quote:nth-child(2) {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .quote:nth-child(3) {
        margin-top: 2rem;
    }
}